{% extends 'base.html' %}
{% block title %} home {% endblock title %}
{% block body %}


    <div class="container my-3">
        <h2>Add A ToDo</h2>
        <form action="/" method="POST">
            <div class="mb-3">
                <label for="title" class="form-label">Todo Title</label>
                <input type="text" class="form-control" name="title" id="title" aria-describedby="emailHelp">

            </div>
            <div class="mb-3">
                <label for="desc" class="form-label">Add Description</label>
                <input type="text" class="form-control" name="desc" id="desc">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <div class="container my-3">
        <h2>Yours ToDos</h2>

        {% if allTodo|length==0 %}
        <div class="alert alert-dark" role="alert">
            No Todo Add your first todo now
          </div>
        {% else %}
        <table class="table">

            <tbody>
                <thead>
                    <tr>
                        <th scope="col">sno</th>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Time</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                {% for todo in allTodo %}
                <tr>
                    <th scope="row">{{loop.index}}</th>
                    <td>{{todo.title}}</td>
                    <td>{{todo.desc}}</td>
                    <td>{{todo.date_cretated}}</td>
                    <td>
                        <a href="/edit/{{todo.sno}}" type="button" class="btn btn-outline-warning btn-sm mx-1">Edit</a>
                        <a href="/delete/{{todo.sno}}" type="button"
                            class="btn btn-outline-danger btn-sm mx-1">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
        {% endfor %}
        {% endif %}

    </div>
    {% endblock body %}